/*şemail*/
#bodyCtl {
    background-image: url('../img/bckrngd.png');
    background-repeat:no-repeat;
    background-size:auto;
}


#cardMenuContainer {
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%) !important;
    z-index: 1;
    height: auto;
    width: -webkit-fill-available;
    padding-bottom: 3%;
}

#cardMenuContainer .row{
    padding-top:3%;
}

    #cardMenuContainer .card-body {
        position: relative;
        height: 200px;
        overflow: auto;
    }

#tableCtlIslemleri {
    width: 80%;
    border-collapse: collapse;
    font-size: x-large;
}


/*======================...dan küçükse ======================*/
@media (min-width: 481px) {
    #modalGirisSayfasi, #yeniUyeGirisSayfasi {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }
}

@media (max-width: 576px) {
    #table1 , #table2 {
        font-size:25px;
    }   
}

@media (max-width: 768px) {
    #divBaslik {
        font-size: 30px;
    }

    #divHosGeldin {
        font-size: 25px;
    }
}

@media (max-width: 992px) {
   
}

@media (max-width: 1200px) {
}


/*======================...dan büyükse======================*/
@media (min-width: 576px) {
   
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
   
}

@media (min-width: 1200px) {
   
}
/*=======================Yana Açılır Menü==================================*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:beige;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#main {
   border-radius:30px;
    transition: margin-right .5s;
    padding: 0px;
    float:right!important;
    width:50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 5px;
    }

        .sidenav a {
            font-size: 18px;
        }
}


